html, body {
    height: 100%;
}

header {
    margin-bottom: 50px;
}
brand {
}

.task-input {
    cursor: pointer;
    text-align:left;
}

.completed-task {
    text-decoration: line-through;
}

#wrap {
    min-height: 100%;
}
#main {
    overflow:auto;
    padding-bottom:100px; /* this needs to be bigger than footer height*/
    padding-left:20px;
}

.task-options {
    margin-left: 543px
}

.task-options h4 {
    color: #3A87AD;
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:60px;
    text-align:center;
    text:#fff;
} 

#incomplete-task {
    margin-bottom: 60px;
}

.completed_task {
  padding: 8px 35px 8px 14px;
  margin-bottom: 30px;
  background-color: #128044;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #ffffff;
  border-color: transparent;
}

.input-append .add-on, .input-prepend .add-on {
    background-color: #DFDFDF;
    border-color: #DFDFDF;
}




