html, body {
}

body {
    background-color: #eee;
}

#wrap {
    min-height: 1000px;
    width: 1000px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 15px;
}

header {
    margin-bottom: 50px;
}
brand {
}

.task-input {
    cursor: pointer;
    text-align:left;
}

.task-list-element .btn {
    opacity: 0.2;
}

.task-list-element .btn:hover {
    opacity: 1;
}


.task-list-input {
    border: 0;
    text-align:left;
    border-bottom: 1px solid #eee;
}

.completed-task {
    text-decoration: line-through;
}

#main {
    overflow:auto;
    padding-left:20px;
}

.task-options {
    margin-left: 543px
}

.task-options h4 {
    color: #3A87AD;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
} 

.completed_task {
  padding: 8px 35px 8px 14px;
  margin-bottom: 30px;
  background-color: #128044;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #ffffff;
  border-color: transparent;
}

.input-append .add-on, .input-prepend .add-on {
    border-color: #DFDFDF;
}

#playing-task {
    margin-bottom: 60px;
}

#playing-task input {
    font-size: 40px;
    border: 0;
    height: 50px
}

#playing-task .btn {
    border-color: #fff;
}

.playing-task-options {
    visibility: none;
}

.navbar-inner {
    border: 0;
    background: #fff;
    margin-bottom: 60px;
}
