html, body {
}

body {
    background-color: #EFEFDF;
}

#wrap {
    min-height: 900px;
    width: 980px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

header {
    margin-bottom: 50px;
}
brand {
}

.task-input {
    cursor: pointer;
    text-align:left;
}


.task-list-input {
    border: 0;
    text-align:left;
    border-bottom: 1px solid #eee;
}

.task-list-element {
    margin: 0 10px;
}

.task-list-element input {
    margin-top:7px;
}

.task-list-element input:focus {
    outline:none;
}

.task-list-element .btn {
    background-color: #fff;
    background-image: none;
    border: none;
    opacity: 0.2;
}

.task-list-element .btn:hover {
    background-image: none;
    border: none;
    opacity: 1;
}

.completed-task {
    text-decoration: line-through;
}

#main {
    overflow:auto;
    padding-left:20px;
}

.task-options {
    margin-left: 543px
}

.task-options h4 {
    color: #3A87AD;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
} 

.completed_task {
  padding: 8px 35px 8px 14px;
  margin-bottom: 30px;
  background-color: #128044;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #ffffff;
  border-color: transparent;
}

.input-append .add-on, .input-prepend .add-on {
    border-color: #DFDFDF;
}

#incomplete-task {
    margin-bottom: 60px;
}

#incomplete-task input {
    font-size: 30px;
    border: 0;
    height: 50px
}

#incomplete-task .btn {
    border-color: #fff;
}
#incomplete-task input::-webkit-input-placeholder { /* WebKit browsers */
    padding-top: 7px;
}

.in-progress-task-options {
    visibility: none;
}

.navbar-inner {
    border: 0;
    background: #fff;
    margin-bottom: 60px;
}

blockquote {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 15px;
    border-radius: 10px;
    width: 850px;
}




