<!-- ko with: in_progress_task -->
<input type="hidden" id="page_date" name="date" value="{{ date.date|date:'Ymd' }}" />
<div id="task">
    <div id="incomplete-task" class="row">
        <div class="span12">
            <form id="task-form">
                <div class="task">
                        <input name="task" placeholder="My next task is" class="task-input span12" type="text" 
                           value=""  data-bind="value: task, 
                                                valueUpdate: 'afterkeydown',
                                                event: { focus: function(task) { 
                                                                    if (!pk()) { 
                                                                        $parent.save(task, true); 
                                                                    };
                                                                 },
                                                         change: $parent.save, }" />

                    <input type="hidden" data-bind="value: pk" />
                    <div class="in-progress-task-options" data-bind="fadeVisible: task() !== ''">
                        <div class="pull-left">
                            <a href="#" class="btn disabled" data-bind="click: start_timer, visible: !timer_is_running(), css: {'disabled': !task()}">
                                    <i class="icon-play"></i>
                                </a>
                                <a href="#" class="btn disabled" 
                                   data-bind="click: function(task) {
                                                        pause_timer(); 
                                                        $parent.save(task);
                                                    },
                                              visible: timer_is_running, css: {'disabled': !task()}">
                                    <i class="icon-pause"></i>
                                </a>


                            <span data-bind="text: timer"></span>
                            
                        </div>

                        <div class="pull-right">
                            <a href="#" class="btn disabled" 
                               data-bind="click: function(t) { $parent.complete_task(t, true); },
                                          css: {'disabled': !task()}"/>
                                    <i class="icon-ok"></i>
                            </a>
                            <a href="#" class="btn disabled" 
                                data-bind="click: function(task) { $parent.queue_in_progress_task(task); }, 
                                           css: {'disabled': !task()}">
                                <i class="icon-share-alt"></i>
                            </a>
                                
                            <a href="#" class="btn disabled" 
                               data-bind="click: function(task) { $parent.delete_task(task, true); },
                                          css: {'disabled': !task()}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->
