{% load analytics %}
{% load i18n lazysignup_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Next Task Is...</title>
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" />

        <script src="{{ STATIC_URL }}/js/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}/js/vendor/sammy.js" type="text/javascript"></script>
        {% block custom_head %}
        {% endblock %}
        <link href="/static/css/default.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav" data-bind="foreach: sections">
                            <li data-bind="css: { active: $data == $root.chosen_section_id() }">
                                <a href="#" data-bind="text: $data,
                                                       click: $root.go_to_section"></a>
                           </li>
                        </ul>
                        <div class="pull-right">
                            <ul class="nav">
                                {% if user.is_authenticated %}
                                {% if not user|is_lazy_user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-user"></i> {{ user.username }} 
                                        <b class="caret"></b>
                                    </a> 
                                    <ul class="dropdown-menu">
                                        <li><a href="/profiles/edit/">Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/accounts/logout/">Log out</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/convert">Register</a>
                                </li>
                                <li>
                                    <a href="/accounts/login/">Sign in</a>
                                </li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                        </div>
                    </div>
            <div class="container">
                {% block content %}
                {% csrf_token %}
                {% include 'now.html' %}
                {% include 'next.html' %}
                {% include 'complete.html' %}
                {% endblock %}
                
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                A productivity experiment by <a href="http://lextoumbourou.com/">Lex Toumbourou</a> in 2013.
            </div>
        </footer>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/knockout-2.1.0.js"></script>
        <script src="/static/js/default.js"></script>
        {% block script %}
        <script src="{{ STATIC_URL }}js/tasks.js"></script>
        <script>
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        {% endblock %}

        {% analytics "UA-38212244-1" %}
    </body>
</html>
