{% extends 'parent.html' %}

{% block custom_head %}
{% endblock %}

{% block slogan %}
Settings for <strong>{{ user.username }}</strong>
{% endblock %}

{% block content %}
<form class="form-horizontal" action="" method="POST">
    <div class="control-group">
        <label class="control-label" for="id_first_name">First Name</label>
        <div class="controls">
            {{ form.first_name }}
            {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                {{ error }}
            {% endfor %}
            {% endif %}
       </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_last_name">Last Name</label>
        <div class="controls">
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <span class="help-inline">
                {% for error in form.last_name.errors %}
                    {{ error }}
                {% endfor %}
            </span>
            {% endif %}
            
       </div>
    </div>
    
   <hr>
    <div class="control-group">
        <label class="control-label" for="id_timezone">Timezone</label>
        <div class="controls">
           {{ form.timezone }}
       </div>
   </div>
    <div class="control-group">
        <label class="control-label" for="id_timezone">Day Ends</label>
        <div class="controls">
           {{ form.day_ends }}
       </div>
   </div>
    {% csrf_token %}
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" id="submit" type="submit" name="submit" value="Update" />
            <a class="btn" href="/">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}


{% block script %}

{% endblock %}

