Source: justtwotasks 
Maintainer: Lex Toumbourou (lextoumbourou@gmail.com) 
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: justtwotasks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Package for the justtwotasks.com website
