{% extends "parent.html" %}

{% block content %}

<div class="row-fluid">
    {% csrf_token %}
    <input type="hidden" id="page_date" name="date" value="{{ date.date|date:'Ymd' }}" />
    <div id="task">
        <!-- ko with: incomplete_task -->
        <div class="row-fluid">
            <form id="task-form">
                <div class="task input-prepend input-append">
                    <a href="#" class="btn disabled" data-bind="click: function(task) {
                                                                  if (pk()) {
                                                                      complete_task(),
                                                                      $parent.save(task);
                                                                      $parent.update_completed(task);
                                                                  }
                                                                 },
                                                                css: {'disabled': !task()}"/>
                        <i class="icon-ok"></i>
                    </a>
                    <input name="task" class="task-input span7" type="text" 
                           value=""  data-bind="value: task, 
                                                valueUpdate: 'afterkeydown',
                                                event: { focus: function(task) { 
                                                                    if (!pk()) { 
                                                                        $parent.save(task); 
                                                                    };
                                                                 },
                                                         change: $parent.save, }" />

                    <input type="hidden" data-bind="value: pk" />
                    <div class="add-on">
                        <a href="#" data-bind="click: start_timer, visible: !timer_is_running()">
                            <i class="icon-play"></i>
                        </a>
                        <a href="#" data-bind="click: pause_timer, visible: timer_is_running">
                            <i class="icon-pause"></i>
                        </a>
                        <span data-bind="text: timer"></span>
                    </div>
                    
                    <a href="#" class="btn disabled" data-bind="click: function(task) { 
                                                                           if (pk() != 0) {
                                                                                   $parent.delete_task(task);
                                                                           };
                                                                       },
                                                                css: {'disabled': !task()}">
                        <i class="icon-remove"></i>
                    </a>
                </div>
                
            </form>
        </div>
        <!-- /ko -->

        <div class="row-fluid">
            <h3>{% block slogan %}{{ slogan }}{% endblock %}</h3>
        </div>

        <div id="completed-tasks" class="row-fluid">
            <div class="span9" 
                data-bind='template: { foreach: completed_tasks,
                                       beforeRemove: hide_task_element,
                                       afterAdd: show_task_element }'>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" data-bind="click: $parent.delete_task">&times;</button>
                    <b data-bind="text: task"></b> 
                    <div data-bind="visible: time_taken"><br><em data-bind="text: time_as_english()"></em></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/tasks.js"></script>
<script>
    var csrftoken = $("input[name='csrfmiddlewaretoken']").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}
