{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Just Two Tasks</title>
        <!-- Bootstrap -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/default.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a href="/?date={{ yesterday|date:'Ymd' }}" class="pull-left">
                                <i class="icon-arrow-left"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                        {% if not user|is_lazy_user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> {{ user.username }} 
                                <b class="caret"></b>
                            </a> 
                            <ul class="dropdown-menu">
                                <!--<li><a href="/accounts/profile/">Profile</a></li>
                                <li class="divider"></li>-->
                                <li><a href="/accounts/logout/">Log out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="/convert">Register</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/accounts/login/">Sign in</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/?date={{ tomorrow|date:'Ymd' }}" 
                               style="{% if is_today %}display:none{% endif %}">
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                        
                    </p>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div id="main" class="container">
                <div class="row-fluid">
                    <div class="page-header">
                        <h1><a href="/">Just Two Tasks</a>
                            <small>{% block slogan %}{{ slogan }}{% endblock %}</small></h1>
                    </div>
                </div>
                <div class="row-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script src="/static/bootstrap/js/bootstrap.min.js"></script>
            </div>
        </div>
        <footer class="footer">
            Site by <a href="http://lextoumbourou.com">Lex Toumbourou</a> in 2012.
        </footer>
        <script src="/static/js/jquery-1.8.2.min.js"></script>
        <script src="/static/js/default.js"></script>
    </body>
</html>
