{% extends "parent.html" %}

{% block content %}
<div class="row-fluid">
<form id="task-form" action="/add_tasks" method="POST">{% csrf_token %}
    <div id="tasks">
        {% if tasks %}
        {% for task in tasks %}
        <div class="row-fluid">
            <div class="task input-prepend input-append">
                {% if task_to_edit == task.id %}
                <a href="/complete_task?task={{ task.id }}" 
                    class="btn {% if task.is_complete %}active{% endif %}">
                    <i class="icon-ok"></i>
                </a>
                <input name="tasks[]" 
                       class="task-input input-xxlarge" 
                       type="text" 
                       value="{{ task.task }}">
                <input type="hidden" 
                       name="task_ids[]" 
                       value="{{ task.id }}">
                 {% else %}
                 <a href="/complete_task?task={{ task.id }}" 
                    class="btn {% if task.is_complete %}active{% endif %}">
                    <i class="icon-ok"></i>
                </a>
                <a href="/?edit_task={{ task.id }}" 
                   class="task-input input-xxlarge uneditable-input 
                          {% if task.is_complete %}completed-task{% endif %}">
                          {{ task.task }}
                 </a>
                {% endif %}
                <a href="/delete_task?task={{ task.id }}" class="btn"><i class="icon-remove"></i></a>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% for task in tasks_to_create %}
        <div class="task input-prepend input-append">
            <a href="/?complete_task={{ task.id }}" class="btn disabled"><i class="icon-ok"></i></a>
            <input name="tasks[]" class="task-input input-xxlarge" type="text">
            <input type="hidden" name="task_ids[]" value="0">
            <a href="/delete_task?task={{ task.id }}" class="btn disabled"><i class="icon-remove"></i></a>
        </div>
        {% endfor %}
        <p>
            <br>
            <button id="task-form-submit" type="submit" class="btn">Done</button>
        </p>
    </div> <!-- tasks -->
</form>
</div>
{% endblock %}
    
