{% load analytics %}
{% load i18n lazysignup_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Just One Task</title>
        {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/theme.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>
        {% else %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/theme.less" />
        {% endcompress %}
        {% endif %}

        <script src="/static/js/jquery-1.8.2.min.js"></script>
        {% block custom_head %}
        {% endblock %}
        <link href="/static/css/default.css" rel="stylesheet">
        <style>
            body {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">My Next Task Is...</a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li>
                            {% if user.is_authenticated %}
                            <a href="/?date={{ yesterday|date:'Ymd' }}">
                                <i class="icon-arrow-left"></i>
                            </a>
                            {% endif %}
                        </li>
                        <li class="divider-vertical"></li>
                        <li{% if is_today %} class="disabled"{% endif %}>
                            {% if user.is_authenticated %}
                            <a href="/?date={{ tomorrow|date:'Ymd' }}" 
                               >
                               <i style="{% if is_today %}opacity:0.3{% endif %}" class="icon-arrow-right"></i>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                        {% if not user|is_lazy_user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> {{ user.username }} 
                                <b class="caret"></b>
                            </a> 
                            <ul class="dropdown-menu">
                                <li><a href="/profiles/edit/">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/accounts/logout/">Log out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="/convert">Register</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/accounts/login/">Sign in</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        
                    </ul>
                        
                    </p>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div id="main" class="container">
                <div class="row-fluid">
                    <br><br>
                </div>
                
                {% block content %}
                {% endblock %}
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script src="/static/bootstrap/js/bootstrap.min.js"></script>
            </div>
        </div>
        <footer class="footer">
            Site by <a href="http://lextoumbourou.com">Lex Toumbourou</a> in 2012.
        </footer>
        <script src="/static/js/knockout-2.1.0.js"></script>
        <script src="/static/js/default.js"></script>
        {% block script %}
        {% endblock %}

        {% analytics "UA-38212244-1" %}
    </body>
</html>
